@import '../../assets/scss/theme-colors';
@mixin button-lines {
  @include themed() {
    background: #000;
  }
  border-radius: 3px;
  display: block;
  height: 3px;
  width: 15px;
}

$color-white:                  red;
$nav-toggle-size:              1.5rem;
$nav-toggle-transition-speed:  .3s;
$nav-transition-speed:         .6s;
$nav-width:                    100vw;
$header-height:                119px;

.button-lines {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  transform: translateY(-50%);
  margin-left: 10px;
}

.lines {
  @include button-lines;
  position: relative;
  background: #000;
  
  &:after,
  &:before {
    @include button-lines;
    content: "";
    left: 0;
    position: absolute;
    background: #000;
  }

  &:after {
    top: $nav-toggle-size/4;
  }
  
  &:before {
    top: -$nav-toggle-size/4;
  }
}

.button-lines-x {
  .lines {
    transition: background .3s ease;
    transform: translateY(-100%);

    &:after,
    &:before {
      transform-origin: 50% 50% 0;
      transition: top .3s .4s ease, transform .3s ease;
    }    
  }

  .nav-visible & {
    .lines {
      background: transparent;
      
      &:after,
      &:before {
        top: 0;
        transition: top .3s ease, transform .3s .3s ease;
      }
      
      &:after {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      
      &:before {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

.swipe-menu {
  @include themed() {
    background-color: t('header_bg');
  }
  height: 100%;
  padding-top: $header-height;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform $nav-transition-speed, visibility $nav-transition-speed;
  visibility: hidden;
  width: $nav-width;
  text-align: center;
  @media screen and (min-width: 40em) { 
    width: 30vw;
  }
  @media screen and (min-width: 64em) { 
    width: 30vw;
  }
  @media screen and (min-width: 64em) { 
    width: 17vw;
  }
  
  .nav-visible & {
    transform: translateX(0);
    visibility: visible;
  }
  a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 165%;
    margin-bottom: 32px;
    @include themed() {
      color: t('menu_link');
    }
    &:hover {
      @include themed() {
        color: t('menu_hover');
      }
    }
    &:last-child {
      font-weight: bold;
    }
  }
}

.nav {
  position: relative;
  transform: rotateY(90deg);
  transform-origin: left center;
  transition: transform $nav-transition-speed;
  
  .nav-visible & {
    transform: rotateY(0deg);
  }
}

.menu-close {
  display: none;
}

.nav-visible {
  .menu-close {
    display: inline;
  }
  .menu-open {
    display: none;
  }
}