@mixin header-font {
  font-weight: 500; //medium
  font-size: 14px;
  line-height: 17px;
}

.header {
  a {
    color: #333347;
    text-decoration: none;
    transition: all 0.6s;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #E2DDCA;
    }
  }
  a.current {
    border-bottom: 2px solid #E2DDCA;
  }
  padding: 25px 0;
  .container {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-weight: 600; //semiBiold
    letter-spacing: 3px;
    z-index: 10;
    position: relative;
    a{
      &:hover {
        border-bottom: 2px solid transparent;
      }
    }
  }
  &__menu {
    @include header-font;
    & > a,
    & > span {
      margin-left: 34px;
    }
  }
  &__sec-menu {
    background-color: #F9F9FA;
    padding: 8px 0;
    @include header-font;
    font-size: 12px;
    font-weight: 100;
    .container {
      align-items: center;
      justify-content: center;
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        span {
          margin-top: 8px;
        }
      }
    }
    span, a {
      display: block;
      text-decoration: none;
      color: inherit;
      text-align: center;
    }
  }
}

.btn_cta {
  background: #5361F0;
  border: 2px solid #5361F0;
  color: #fff;
  display: inline-block;
  border-radius: 90px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s;
  font-weight: bold;
  a {
    color: inherit;
    padding: 11px 36px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(50,1,1,0.15);
  }
}
