@import '../../assets/scss/theme-colors';
.more-menu {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
  background: #fff;
  top: 0;
  left: 0;;
  @media screen and (max-width: 39.9375em) { 
    position: fixed;
    width: 100%;
    z-index: 9;
  }
  @media screen and (min-width: 40em) {
    text-align: center;
  }
  @include themed() {
    background-color: t('more_menu_bg');
  }
  &__items {
    width: 100%;
    text-align: center;
  }
  a {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    @include themed() {
      color: t('menu_link');
    }
    @media screen and (min-width: 40em) {
      padding: 29px 0;
      display: inline-block;
    }
    &:hover {
      @include themed() {
        color: t('menu_hover');
      }
    }
  }
}

.more-menu--active {
  @media screen and (max-width: 39.9375em) {
    height: 100vh;
    visibility: visible;
    opacity: 1;
    padding-top: 103px;
  }
  @media screen and (min-width: 40em) {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 99;
    background-color: #F4F6F8;
    visibility: visible;
    opacity: 1;
    height: 74px;
  }
}