.cta {
  padding: 64px 0 61px;
  background: #5361F0;
  border: 1px solid #5361F0;
  color: #fff;
  .container {
    flex-direction: column;
  }
  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 48px;
    @media screen and (max-width: 63.99875em) {
      font-size: 24px;
      line-height: 29px;
    }
  }
  &__btn {
    text-align: center;
  }
} 

.btn_cta--oposite {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #5361F0;
  text-align: center;
  a{
    border-bottom: 2px solid transparent;
  }
}