@charset 'utf-8';
@import 'assets/scss/normalize';
@import 'assets/scss/fonts';
@import 'assets/scss/theme-colors';

body {
  color: #000
}

.theme--dark {
  .hide-theme-dark {
    display: none;
  }
}
.theme--default {
  .hide-theme-default {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  .hide-for-large {
    display: none;
  }
}

@media screen and (max-width: 63.99875em) {
  .show-for-large {
    display: none !important;
  }
}
// @include breakpoint(medium down) 
@media screen and (max-width: 39.9375em) {}

// @include breakpoint(medium up)
@media screen and (min-width: 40em) {}

//@include breakpoint(large up) 
@media screen and (min-width: 64em) {}

body {
  font-family: 'Montserrat';
  text-rendering: optimizeLegibility;
}

// grid
.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  padding-left: 27px;
  padding-right: 27px;
}
.row2313 {
  @media screen and (min-width: 64em) {
    display: flex;
    & > div:first-child {
      flex: 0 1 66%;
      padding-right: 16px;
    }
    & > div:last-child {
      flex: 0 1 34%;
      padding-left: 16px;
  }
  }
}
.container--noflex {
  display: block;
}
.row1323 {
  @media screen and (min-width: 64em) {
    display: flex;
    & > div:first-child {
      flex: 0 1 34%;
      padding-right: 16px;
    }
    & > div:last-child {
      flex: 0 1 66%;
      padding-left: 16px;
  }
  }  
}

// end grid


  .header__image {
    position: absolute;
    max-width: 60%;
    right: 0;
    top: 100px;
    overflow: hidden;
    img {
      max-height: 700px;
      position: relative;
      right: -180px;
    }
  }


.header__image-clip {
  -webkit-clip-path: url(/images/photo_top_mask.svg);
  clip-path: url(/images/photo_top_mask.svg);
  -webkit-mask: url(/images/photo_top_mask.svg);
  -webkit-mask-image: url(/images/photo_top_mask.svg);
  mask-image: url(/images/photo_top_mask.svg#photoTop);
  -webkit-mask-repeat: space;
}



.logoWhite {
  display: none;
}


// typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: -1px;
}

h1 {
  font-size: 48px;
  line-height: 59px;
  padding-top: 81px;
}
h2 {
  font-size: 38px;
  line-height: 56px;
}
h2.hasSubtitle {
  margin-top: 0;
  padding-top: 0;
  @media screen and (max-width: 63.99875em) {
    text-align: center;
  } 
}
p, ul{
  font-size: 18px;
  line-height: 180%;
  font-weight: 300;
}
.subtitle-top {
  color: #c1c0c0 ;
  text-transform: uppercase;
  margin-bottom: 0;
  @media screen and (max-width: 63.99875em) {
    text-align: center;
  } 
}
.link {
  color: #1E5EE5;
  font-weight: bold;
}
// end typography

// Singel Sericve Page
.service-single {
  .hero__subtitle {
    @media screen and (min-width: 64em) {
      max-width: 40%;
    }
    line-height: 180%;
    font-size: 18px;
  }
  .hero {
    margin-bottom: 100px;
    @media screen and (max-width: 63.99875em) {
      margin-bottom: 50px;
    }
  }
}
// end Singel Sericve Page

// listIcons
.listIcons {
  display: flex;
  flex-wrap: wrap;
  a {
    color: inherit;
    text-decoration: none;
    display: block;
    @media screen and (min-width: 64em) {
      width: calc(100% - 10px);
    }
  }
  &__item {
    flex: 0 1 calc(50% - 20px);
    @media screen and (max-width: 63.99875em) {
      flex: 1 0 100%;
    }
    display: flex;
    align-items: center;
    padding: 10px;
    &__txt {
      p:first-child {
        font-weight: bold;
        margin-bottom: -16px;
      }
    }
    &__ico {
      padding-right: 20px;
      svg {
        width: 50px;
      }
    }
  }
  &__item--full {
    flex: 0 1 100%;
  }
  &__item--link {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    position: relative;
    padding: 11px 33px 5px;
    margin-top: 20px;
    .listIcons__item__txt {
      .link {
        margin-top: -16px;
      }

    }
    &:hover {
      border-color: #1E5EE5;
      cursor: pointer;
      .services__arrow {
        right: 30px;
    }
    }
  }
}

// end listIcons

h3 {
  font-size: 28px;
}

.ecom-solution {
  align-items: center;
  padding: 30px 0 60px;
  border-bottom: 1px solid #D9D9D9;
  @media screen and (max-width: 63.99875em) {
    display: flex;
    flex-direction: column;
  } 
  &__logo {
    flex: 0 1 30%;
    padding: 2%;
    @media screen and (max-width: 63.99875em) {
      text-align: center;
    }
    svg {
      width: 100%;
      @media screen and (max-width: 63.99875em) {
        width: 70%;
        height: auto;
      }
    }
  }
  &__txt {
    flex: 0 1 70%;
    padding-left: 5%;
    @media screen and (max-width: 63.99875em) {
      flex: 1 0 100%;
      padding: 0 27px;
    }
  }
}

.table {
  margin-top: 70px;
  padding-bottom: 100px;
  @media screen and (max-width: 63.99875em) {
    display: block;
  }
  & > div {
    flex: 0 1 25%;
    border-right: 1px solid #D9D9D9;
    text-align: center;
    padding: 50px 30px;
    @media screen and (max-width: 63.99875em) {
      border-right: 0;
      padding: 50px 30px 0;
    }
    display: flex;
    flex-direction: column;
    svg {
      width: 100%;
    }
    &:last-child {
      border: 0
    }
    &:first-child {
      @media screen and (max-width: 63.99875em) {
        padding-top: 0;
      }
    }
  }
  &__title {
    margin-top: 30px;
    font-size: 22px;
  }
  &__price {
    font-size: 32px;
    font-weight: bold;
    margin-top: auto;
    span{
      font-size: 16px;
      font-weight: 100;
    }
  }
}

.normal {
  font-weight: 100;
}

.hm {
  margin-top: 200px;
  @media screen and (max-width: 63.99875em) {
    margin-top: 50px;
  } 
}