.servicesPage {
  h1 {
    padding-top: 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 30px;
    & > div {
      flex: 0 1 calc(50% - 30px);
      padding: 0 15px;
      margin-bottom: 15px;
      &:nth-child(2n) {
        transform: translateY(70px);
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  &__item {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    margin-bottom: 15px;
    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 5px;
      letter-spacing: -1px;
    }
    &__img {
      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
      }
    }
    &__txt {
      padding: 40px;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.servicesPage.services {
  padding-top: 0;
}

.lighthousePage {
  .header__image {
    right: unset;
    left: 50%;
  }
}