@font-face {
  font-family:"Montserrat";
  src:  local('Montserrat'), 
        url("/fonts/montserrat-semibold.woff2") format("woff2"),
        url("/fonts/montserrat-semibold.woff") format("woff");
  font-style:normal; 
  font-weight: 600; 
  font-display: swap;
}
@font-face {
  font-family:"Montserrat";
  src:  local('Montserrat'), 
        url("/fonts/montserrat-medium.woff2") format("woff2"),
        url("/fonts/montserrat-medium.woff") format("woff");
  font-style:normal; 
  font-weight: 500; 
  font-display: swap;
}
@font-face {
  font-family:"Montserrat";
  src:  local('Montserrat'), 
        url("/fonts/montserrat-light.woff2") format("woff2"),
        url("/fonts/montserrat-light.woff") format("woff");
  font-style:normal; 
  font-weight: 300; 
  font-display: swap;
}