$themes: (
  default: (
    header_bg: #FFFFFF,
    header_border: #E5E5E5,
    main_bg: #FFFFFF,
    footer_bg: #FFFFFF,
    menu_link: #535353,
    menu_hover: #9F0060,
    font: #535353,
    title: #222222,
    title_sc: #000000,
    btn_bg: #D9D9D9,
    btn_color: #000000,
    input_bg: #E5E5E5,
    link_color: #000000,
    skeleton: #EEEEEE,
    single_header: #000000
  ),
  dark: (
    header_bg: #353535,
    header_border: #353535,
    main_bg: #222222,
    footer_bg: #222222,
    menu_link: #AEAEAE,
    menu_hover: #FFFFFF,
    font: #FFFFFF,
    title: #FFFFFF,
    title_sc: #FFFFFF,
    btn_bg: #353535,
    btn_color: #FFFFFF,
    input_bg: #222222,
    link_color: #FFFFFF,
    skeleton: #0E0E0E,
    single_header: #FFFFFF
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}