.hero {
  //background: #F3F3F5;
  margin-top: 60px;
  margin-bottom: 80px;
  @media screen and (max-width: 63.99875em) {
    margin-top: 21px;
    margin-bottom: 21px;
  } 
  @media screen and (min-width: 64em) {
    height: 465px;
  }
  @media screen and (max-width: 63.99875em) {
    svg, img {
      max-width: 100%;
      height: 100%;
    }
  }
  svg,
  img{
    max-width: 90%;
  }
  .container {
    justify-content: space-between;
    @media screen and (max-width: 63.99875em) {
      flex-direction: column-reverse;
    }
  }
  &__title {
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -1px;
    @media screen and (min-width: 64em) {
      max-width: 40%;
    }
    padding-top: 81px;
    h1 {
      margin: 0;
      padding: 0;
    }
    @media screen and (max-width: 63.99875em) {
      padding-top: 0px;
      text-align: center;
    }
    span {
      font-weight: 600;
    }
  }
  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1px;
    margin-top: 15px;
    margin-bottom: 27px;
    @media screen and (max-width: 63.99875em) {
      text-align: center;
    }
  }
  &__cta {
    @media screen and (max-width: 63.99875em) {
      text-align: center;
    }
  }
}

.homePage {
  .hero__img {
    text-align: right;
    @media screen and (min-width: 64em) {
      position: absolute;
      right: 0;
      max-width: 70%;
    }
  }
  .hero__title {
    @media screen and (min-width: 64em) {
      max-width: 60%;
    }
    @media screen and (max-width: 63.99875em) {
      margin-top: 30px;
    }
  }
}