.footer {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -1px;
  font-weight: 300;
  padding-top: 58px;
  color: #000;
  &__about-link {
    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      margin-top: 10px;
      transition: all 0.6s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  & > .container {
    
    padding-top: 50px;
  }
  @media screen and (max-width: 63.99875em) {
    padding-top: 40px;
  }
  .container {
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 63.99875em) {
      flex-direction: column;
      text-align: center;
      & > div {
        padding-bottom: 40px;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 3px;
  }
  &__services {
    margin-top: 11px;
    a {
      display: block;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -1px;
      color: #3A3A47;
      text-decoration: none;
      margin-bottom: 5px;
      transition: all 0.6s;
      @media screen and (max-width: 63.99875em) {
        margin-bottom: 15px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__services:first-child {
    margin-right: 36px;
  }
  &__copy {
    border-top: 1px solid rgba(217, 217, 217, 0.5);
    padding: 16px 0;
    margin-top: 58px;
    @media screen and (max-width: 63.99875em) {
      margin-top: 0;
    }
    .container {
      & > div:first-child {
        padding-bottom: 10px;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -1px;
    font-weight: 300;
  }
  & > div {
    order: 2;
  }
  &__service-row {
    @media screen and (max-width: 63.99875em) {
      order: 1;
    }
  }
}

.homePage {
  .footer{
    & > .container {
      border-top: 0;
      padding-top: 0;;
    }
  }
}

.aboutUs,
.privacyPolice {
  .footer{
    & > .container {
      border-top: 1px solid rgba(217, 217, 217, 0.5);
    }
  } 
}