.estimate {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(243,243,245,1) 50%);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
  
  &__content {
    display: flex;
    height: 100%;
    align-items: center;
    & > div {
      flex: 0 1 50%;
      padding: 0 10%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    margin-bottom: 38px;
  }

  &__email {
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -1px;
    color: #D9D9D9;
    font-weight: 300;
    margin-top: 37px;
    a {
      color: #1E5EE5;
      text-decoration: none;
    }
  }

  &__why {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  &__why:first-child {
    margin-top: 0;
  }
  &__icon {
    margin-right: 28px;
  }

  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 28px;
  }


  label {
    font-weight: 300;
  }

  .submit {
    text-align: right;
  }

  .close {
    position: absolute;
    right: 10%;
    top: 5%;
    &:hover {
      cursor: pointer;
    }
  }
}

.estimate--active {
  visibility: visible;
  opacity: 1;
}