.clients {
  margin-top: 58px;
  margin-bottom: 54px;
  .container {
    padding-bottom: 25px;
    flex-direction: column;
  }
  &__title {
    font-weight: 300;
    font-size: 26px;
    line-height: 17px;
    margin-bottom: 50px;
    @media screen and (max-width: 63.99875em) {
      margin-bottom: 30px;
    }
    text-align: center;
  }
  &__logos {
    display: flex;
    @media screen and (max-width: 63.99875em) {
      flex-direction: column;
    }
    align-items: center;
    justify-content: space-between;
    svg, img {
      height: 45px;
      @media screen and (max-width: 63.99875em) {
        margin-bottom: 20px;
      }
    }
  }
}