.services {
  padding-top: 97px;
  padding-bottom: 85px;
  @media screen and (max-width: 63.99875em) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  &__header {
    flex-direction: column;
    text-align: center;
  }
  &__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    @media screen and (max-width: 63.99875em) {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;  
    }
    
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 54px;
    @media screen and (max-width: 63.99875em) {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;;
      margin-bottom: 21px;
    }
  }
  &__items {
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 63.99875em) {
      display: block;
    }
    & > div {
      flex: 0 1 29%;
    }
    & > .plus {
      flex: 0 1 24px;
      @media screen and (max-width: 63.99875em) {
        display: none;
      }
    }
    &__title {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 18px;
      color: #3A3A47;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  &__item {
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    position: relative;
    padding: 11px 33px 5px;
    &:hover {
      border-color: #1E5EE5;
      cursor: pointer;
      & > .services__item__title {
        color: #1E5EE5;
      }
      & > .services__arrow {
        right: 30px;
        &::after {
          left: -100%;
        }
      }
    }
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 5px;
      letter-spacing: -1px;
      display: flex;
      align-items: flex-end;
      transition: all .3s ease-in-out;
      .icon {
        flex: 0 1 48px;
        margin-left: 14px;
      }
    }
    &__title--center {
      align-items: center;
      .icon {
        margin-left: 0;
        margin-right: 23px;
      }
    }
    &__subtitle {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -1px;
      font-weight: 300;
    }
  }
  &__item--big {
    padding: 36px 43px 49px;
    margin-bottom: 21px;
  }
  &__item--special {
    padding-right: 0;
  }
  &__arrowhide {
    position: absolute;
    right: 54px;
    bottom: 30px; 
    background-color: #fff;
    width: 24px;
    height: 15px;
    z-index: 9;
  }
  &__arrow {
    position: absolute;
    right: 54px;
    bottom: 30px;
    transition: all .3s ease-in-out;
  }
}