.aboutUs {
  .logoDark {
    display: none;
  }
  .logoWhite {
    display: block;
  }
  .header {
    z-index: 2;
    position: relative;
    a {
      color: #fff;
    }
  }
  .hero__title {
    padding-top: 0;
    @media screen and (max-width: 63.99875em) {
      padding-top: 40px;
      font-size: 36px;
      line-height: 46px;
    }
  }
  #sectionStart {
    @media screen and (max-width: 63.99875em) {
      padding-top: 31px;
    }
  }
  .hero__subtitle {
    font-size: 18px;
    letter-spacing: 0;
    @media screen and (min-width: 64em) {
      max-width: 40%;
    }
    line-height: 180%;
  }
  &__hero {
    color: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .container {
      flex: 0 1 100%;
      flex-direction: column;
    }
    h1 {
      margin: 0;
    }
    & > * {
      z-index: 2;
      position: relative;
    }
    &:before {
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    &__more-button {
      padding: 0;
      margin: 0;
      border: 0;
      background: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      margin-top: 20px;
      @media screen and (max-width: 63.99875em) {
        display: none;
      } 
    }
    &__more-icon {
      box-sizing: border-box;
      position: relative;
      width: 2.0625rem;
      height: 2.75rem;
      margin-right: 1.0625rem;
      border: .09375rem solid #fff;
      border-radius: 1.5rem;
      &:after {
        content: "";
        position: absolute;
        top: .5rem;
        left: 50%;
        width: .125rem;
        height: .5625rem;
        margin-left: -.03125rem;
        background-color: #fff;
        border-radius: .125rem;
        will-change: opacity,transform;
        animation: mouseScroll 1.8s ease-in-out infinite;
      }
    }
    @keyframes mouseScroll{0%{opacity:0;transform:translateZ(0)}25%{opacity:1}75%{transform:translate3d(0,.5625rem,0)}to{opacity:0;transform:translate3d(0,.75rem,0)}}
  }
}